# ìš”ì¼/ì‹œê°„ ë³„ ì¸ê¸° ìŒì‹ ë°ì´í„° ë¶„ì„

### 01. InstagramFoodResult.csv ë¶ˆëŸ¬ì˜¤ê¸°

In [98]:
import pandas as pd
df_i = pd.read_csv('InstagramFoodResult.csv')
df_i

,date,tags,tagsDict,korean,western,dessert,porkcutlets,japanese,chicken,bunsik,chinese,pizza,packedmeal,sashimi,day
0,2019-09-30 17:00:00,"[""'#ì£¼ë§'"", "" '#ì¼ìƒ'"", "" '#ë°°ë‹¬ìŒì‹'"", "" '#ì‚¼ê²¹ì‚´'"", "" '...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,1,0,0,0,Monday
1,2019-11-20 11:00:00,"[""'#ë°°ë‹¬'"", "" '#ë°°ë‹¬ì˜ë¯¼ì¡±'"", "" '#í€ë¹„ì–´í‚¹'"", "" '#ê¸ˆì˜¤ë™í€ë¹„ì–´í‚¹...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,0,Wednesday
2,2019-11-30 19:00:00,"[""'#ê°€ê²½ë™ë§›ì§‘'"", "" '#ê°€ê²½ë™'"", "" '#ì²­ì£¼ë§›ì§‘'"", "" '#ì²­ì£¼ì¥ì–´'""...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Saturday
3,2020-03-08 20:00:00,"[""'#ì•¼ì‚¬ì´ë§ˆë¼ì¿ ì´ì‹ ë³´'"", "" '#ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤'"", "" '#ì—°ì–´ì†¥ë°¥'"", "" '...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,1,Sunday
4,2020-03-29 12:00:00,"[""'#ë²•ë™ì‹œì¥'"", "" '#ì¤‘ë¦¬ì‹œì¥'"", "" '#ì†¡ì´Œì‹œì¥'"", "" '#ì •ìœ¡ì '"",...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3664,2021-12-29 18:00:00,"[""'#ë¡¯ë°ë¦¬ì•„'"", ""'#í•œì”í•˜ê¸°ì¢‹ì€ë°¤'"", "" '#ëŒ€êµ¬'"", "" '#ë‚¨êµ¬'"", ...","{'korean': 4, 'western': 2, 'dessert': 2, 'por...",4,2,2,0,0,5,0,0,8,0,2,Wednesday
3665,2021-12-29 19:00:00,"[""'#íŒŒìŠ¤íƒ€'"", "" '#ë°°ë‹¬'"", "" '#ë¬¸ì˜í™˜ì˜'"", "" '#íŒŒìŠ¤íƒ€ì¶”ê°€ìš”ğŸ™‹'""...","{'korean': 0, 'western': 3, 'dessert': 3, 'por...",0,3,3,0,0,0,0,0,4,0,0,Wednesday
3666,2021-12-29 20:00:00,"[""'#â¤ï¸'"", "" '#ì„œìš¸'"", "" '#ë§›ì§‘'"", "" '#ë°°ë‹¬'"", "" '#ì°œë‹­...","{'korean': 7, 'western': 5, 'dessert': 2, 'por...",7,5,2,0,0,1,2,0,0,0,4,Wednesday
3667,2021-12-29 21:00:00,"[""'#ì „ë³µ'"", "" '#ë§›ë‚˜ê³ ì €ë ´í•˜ê²Œ'"", "" '#ëª¸ì—ì¢‹ìŠµë‹ˆë‹¤'"", "" '#íƒë°°'...","{'korean': 2, 'western': 0, 'dessert': 0, 'por...",2,0,0,0,0,8,0,0,2,0,2,Wednesday
3668,2021-12-29 22:00:00,"[""'#ì—°íƒ„ë¶ˆê³ ê¸°'"", "" '#ì­ˆê¾¸ë¯¸ë³¶ìŒ'"", "" '#ë¹„ë¹”ë°¥'"", "" '#ë®ë°¥'"",...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,0,0,0,0,Wednesday

In [99]:
# cnt ì»¬ëŸ¼ ì¶”ê°€
df_i['cnt']=1
df_i

,date,tags,tagsDict,korean,western,dessert,porkcutlets,japanese,chicken,bunsik,chinese,pizza,packedmeal,sashimi,day,cnt
0,2019-09-30 17:00:00,"[""'#ì£¼ë§'"", "" '#ì¼ìƒ'"", "" '#ë°°ë‹¬ìŒì‹'"", "" '#ì‚¼ê²¹ì‚´'"", "" '...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,1,0,0,0,Monday,1
1,2019-11-20 11:00:00,"[""'#ë°°ë‹¬'"", "" '#ë°°ë‹¬ì˜ë¯¼ì¡±'"", "" '#í€ë¹„ì–´í‚¹'"", "" '#ê¸ˆì˜¤ë™í€ë¹„ì–´í‚¹...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,0,Wednesday,1
2,2019-11-30 19:00:00,"[""'#ê°€ê²½ë™ë§›ì§‘'"", "" '#ê°€ê²½ë™'"", "" '#ì²­ì£¼ë§›ì§‘'"", "" '#ì²­ì£¼ì¥ì–´'""...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Saturday,1
3,2020-03-08 20:00:00,"[""'#ì•¼ì‚¬ì´ë§ˆë¼ì¿ ì´ì‹ ë³´'"", "" '#ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤'"", "" '#ì—°ì–´ì†¥ë°¥'"", "" '...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,1,Sunday,1
4,2020-03-29 12:00:00,"[""'#ë²•ë™ì‹œì¥'"", "" '#ì¤‘ë¦¬ì‹œì¥'"", "" '#ì†¡ì´Œì‹œì¥'"", "" '#ì •ìœ¡ì '"",...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Sunday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3664,2021-12-29 18:00:00,"[""'#ë¡¯ë°ë¦¬ì•„'"", ""'#í•œì”í•˜ê¸°ì¢‹ì€ë°¤'"", "" '#ëŒ€êµ¬'"", "" '#ë‚¨êµ¬'"", ...","{'korean': 4, 'western': 2, 'dessert': 2, 'por...",4,2,2,0,0,5,0,0,8,0,2,Wednesday,1
3665,2021-12-29 19:00:00,"[""'#íŒŒìŠ¤íƒ€'"", "" '#ë°°ë‹¬'"", "" '#ë¬¸ì˜í™˜ì˜'"", "" '#íŒŒìŠ¤íƒ€ì¶”ê°€ìš”ğŸ™‹'""...","{'korean': 0, 'western': 3, 'dessert': 3, 'por...",0,3,3,0,0,0,0,0,4,0,0,Wednesday,1
3666,2021-12-29 20:00:00,"[""'#â¤ï¸'"", "" '#ì„œìš¸'"", "" '#ë§›ì§‘'"", "" '#ë°°ë‹¬'"", "" '#ì°œë‹­...","{'korean': 7, 'western': 5, 'dessert': 2, 'por...",7,5,2,0,0,1,2,0,0,0,4,Wednesday,1
3667,2021-12-29 21:00:00,"[""'#ì „ë³µ'"", "" '#ë§›ë‚˜ê³ ì €ë ´í•˜ê²Œ'"", "" '#ëª¸ì—ì¢‹ìŠµë‹ˆë‹¤'"", "" '#íƒë°°'...","{'korean': 2, 'western': 0, 'dessert': 0, 'por...",2,0,0,0,0,8,0,0,2,0,2,Wednesday,1
3668,2021-12-29 22:00:00,"[""'#ì—°íƒ„ë¶ˆê³ ê¸°'"", "" '#ì­ˆê¾¸ë¯¸ë³¶ìŒ'"", "" '#ë¹„ë¹”ë°¥'"", "" '#ë®ë°¥'"",...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,0,0,0,0,Wednesday,1

In [100]:
df_i.groupby(['day']).sum()

,korean,western,dessert,porkcutlets,japanese,chicken,bunsik,chinese,pizza,packedmeal,sashimi,cnt
day,,,,,,,,,,,,
Friday,8429,4265,9025,773,7159,6090,5251,2177,2432,1500,2438,506
Monday,7192,4071,6635,554,4504,5372,4305,1709,2060,1488,1928,533
Saturday,6566,4079,8336,708,7671,5280,4096,1899,2388,1196,2339,523
Sunday,6131,3852,5678,588,6861,4902,3352,1934,2000,1139,1646,526
Thursday,7775,4277,9588,647,7999,6176,4589,2046,2483,1710,2649,513
Tuesday,7736,4019,7691,551,4722,5856,4202,1265,2261,1600,2623,528
Wednesday,7710,4375,8459,723,7289,5494,4411,1620,2405,1641,2470,540

### 02. ìš”ì¼ë³„ íƒœê·¸ ë°ì´í„°

#### í•´ë‹¹ íƒœê·¸ ë§ì€ ìš”ì¼ ìˆœì„œ: ì˜ë¯¸ ì—†ìŒ (ë°ì´í„° ìˆ˜ì§‘ ëª©ì : ì£¼ë¬¸ëŸ‰ X, ì¹´í…Œê³ ë¦¬ O)

In [101]:
df_i.groupby(['day']).sum()['cnt'].sort_values(ascending=False)

day
Wednesday    540
Monday       533
Tuesday      528
Sunday       526
Saturday     523
Thursday     513
Friday       506
Name: cnt, dtype: int64

#### ì›”ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [102]:
df_i.groupby(['day']).sum().T['Monday'].sort_values(ascending=False)

korean         7192
dessert        6635
chicken        5372
japanese       4504
bunsik         4305
western        4071
pizza          2060
sashimi        1928
chinese        1709
packedmeal     1488
porkcutlets     554
cnt             533
Name: Monday, dtype: int64

#### í™”ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [103]:
df_i.groupby(['day']).sum().T['Tuesday'].sort_values(ascending=False)

korean         7736
dessert        7691
chicken        5856
japanese       4722
bunsik         4202
western        4019
sashimi        2623
pizza          2261
packedmeal     1600
chinese        1265
porkcutlets     551
cnt             528
Name: Tuesday, dtype: int64

#### ìˆ˜ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [104]:
df_i.groupby(['day']).sum().T['Wednesday'].sort_values(ascending=False)

dessert        8459
korean         7710
japanese       7289
chicken        5494
bunsik         4411
western        4375
sashimi        2470
pizza          2405
packedmeal     1641
chinese        1620
porkcutlets     723
cnt             540
Name: Wednesday, dtype: int64

#### ëª©ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [105]:
df_i.groupby(['day']).sum().T['Thursday'].sort_values(ascending=False)

dessert        9588
japanese       7999
korean         7775
chicken        6176
bunsik         4589
western        4277
sashimi        2649
pizza          2483
chinese        2046
packedmeal     1710
porkcutlets     647
cnt             513
Name: Thursday, dtype: int64

#### ê¸ˆìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [106]:
df_i.groupby(['day']).sum().T['Friday'].sort_values(ascending=False)

dessert        9025
korean         8429
japanese       7159
chicken        6090
bunsik         5251
western        4265
sashimi        2438
pizza          2432
chinese        2177
packedmeal     1500
porkcutlets     773
cnt             506
Name: Friday, dtype: int64

#### í† ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [107]:
df_i.groupby(['day']).sum().T['Saturday'].sort_values(ascending=False)

dessert        8336
japanese       7671
korean         6566
chicken        5280
bunsik         4096
western        4079
pizza          2388
sashimi        2339
chinese        1899
packedmeal     1196
porkcutlets     708
cnt             523
Name: Saturday, dtype: int64

#### ì¼ìš”ì¼ ì¸ê¸° ìŒì‹ ì¹´í…Œê³ ë¦¬

In [108]:
df_i.groupby(['day']).sum().T['Sunday'].sort_values(ascending=False)

japanese       6861
korean         6131
dessert        5678
chicken        4902
western        3852
bunsik         3352
pizza          2000
chinese        1934
sashimi        1646
packedmeal     1139
porkcutlets     588
cnt             526
Name: Sunday, dtype: int64

In [109]:
#year, month hour ì»¬ëŸ¼ ì¶”ê°€
df_i=df_i.reset_index()
df_i['year'] = df_i['date'].apply(lambda x: x.split("-")[0])
df_i['month'] = df_i['date'].apply(lambda x: x.split("-")[1])
df_i['hour'] = df_i['date'].apply(lambda x: x.split(" ")[1])
df_i['hour'] = df_i['hour'].apply(lambda x: x.split(":")[0])
df_i

,index,date,tags,tagsDict,korean,western,dessert,porkcutlets,japanese,chicken,bunsik,chinese,pizza,packedmeal,sashimi,day,cnt,year,month,hour
0,0,2019-09-30 17:00:00,"[""'#ì£¼ë§'"", "" '#ì¼ìƒ'"", "" '#ë°°ë‹¬ìŒì‹'"", "" '#ì‚¼ê²¹ì‚´'"", "" '...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,1,0,0,0,Monday,1,2019,09,17
1,1,2019-11-20 11:00:00,"[""'#ë°°ë‹¬'"", "" '#ë°°ë‹¬ì˜ë¯¼ì¡±'"", "" '#í€ë¹„ì–´í‚¹'"", "" '#ê¸ˆì˜¤ë™í€ë¹„ì–´í‚¹...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,0,Wednesday,1,2019,11,11
2,2,2019-11-30 19:00:00,"[""'#ê°€ê²½ë™ë§›ì§‘'"", "" '#ê°€ê²½ë™'"", "" '#ì²­ì£¼ë§›ì§‘'"", "" '#ì²­ì£¼ì¥ì–´'""...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Saturday,1,2019,11,19
3,3,2020-03-08 20:00:00,"[""'#ì•¼ì‚¬ì´ë§ˆë¼ì¿ ì´ì‹ ë³´'"", "" '#ì˜ë¨¹ì—ˆìŠµë‹ˆë‹¤'"", "" '#ì—°ì–´ì†¥ë°¥'"", "" '...","{'korean': 0, 'western': 0, 'dessert': 0, 'por...",0,0,0,0,0,0,0,0,0,0,1,Sunday,1,2020,03,20
4,4,2020-03-29 12:00:00,"[""'#ë²•ë™ì‹œì¥'"", "" '#ì¤‘ë¦¬ì‹œì¥'"", "" '#ì†¡ì´Œì‹œì¥'"", "" '#ì •ìœ¡ì '"",...","{'korean': 4, 'western': 0, 'dessert': 0, 'por...",4,0,0,0,0,0,0,0,0,0,0,Sunday,1,2020,03,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3664,3664,2021-12-29 18:00:00,"[""'#ë¡¯ë°ë¦¬ì•„'"", ""'#í•œì”í•˜ê¸°ì¢‹ì€ë°¤'"", "" '#ëŒ€êµ¬'"", "" '#ë‚¨êµ¬'"", ...","{'korean': 4, 'western': 2, 'dessert': 2, 'por...",4,2,2,0,0,5,0,0,8,0,2,Wednesday,1,2021,12,18
3665,3665,2021-12-29 19:00:00,"[""'#íŒŒìŠ¤íƒ€'"", "" '#ë°°ë‹¬'"", "" '#ë¬¸ì˜í™˜ì˜'"", "" '#íŒŒìŠ¤íƒ€ì¶”ê°€ìš”ğŸ™‹'""...","{'korean': 0, 'western': 3, 'dessert': 3, 'por...",0,3,3,0,0,0,0,0,4,0,0,Wednesday,1,2021,12,19
3666,3666,2021-12-29 20:00:00,"[""'#â¤ï¸'"", "" '#ì„œìš¸'"", "" '#ë§›ì§‘'"", "" '#ë°°ë‹¬'"", "" '#ì°œë‹­...","{'korean': 7, 'western': 5, 'dessert': 2, 'por...",7,5,2,0,0,1,2,0,0,0,4,Wednesday,1,2021,12,20
3667,3667,2021-12-29 21:00:00,"[""'#ì „ë³µ'"", "" '#ë§›ë‚˜ê³ ì €ë ´í•˜ê²Œ'"", "" '#ëª¸ì—ì¢‹ìŠµë‹ˆë‹¤'"", "" '#íƒë°°'...","{'korean': 2, 'western': 0, 'dessert': 0, 'por...",2,0,0,0,0,8,0,0,2,0,2,Wednesday,1,2021,12,21
3668,3668,2021-12-29 22:00:00,"[""'#ì—°íƒ„ë¶ˆê³ ê¸°'"", "" '#ì­ˆê¾¸ë¯¸ë³¶ìŒ'"", "" '#ë¹„ë¹”ë°¥'"", "" '#ë®ë°¥'"",...","{'korean': 1, 'western': 0, 'dessert': 0, 'por...",1,0,0,0,0,0,0,0,0,0,0,Wednesday,1,2021,12,22

### 03. ì‹œê°„ë³„ íƒœê·¸ ë°ì´í„°

###  ì‹œê°„ ë³„ë¡œ ì¸ê¸° ë§ì€ ë°°ë‹¬ ì¹´í…Œê³ ë¦¬ ìˆœì„œ

In [110]:
df_i.groupby(['hour']).sum().T['00'].sort_values(ascending=False)

index          285371
chicken          1161
dessert           873
korean            768
japanese          649
bunsik            515
western           503
sashimi           497
pizza             351
chinese           264
packedmeal        195
cnt               156
porkcutlets        89
Name: 00, dtype: int64

In [111]:
df_i.groupby(['hour']).sum().T['01'].sort_values(ascending=False)

index          283427
chicken           989
bunsik            492
dessert           470
korean            383
western           307
sashimi           266
japanese          230
pizza             200
porkcutlets       198
chinese           153
cnt               152
packedmeal        140
Name: 01, dtype: int64

In [112]:
df_i.groupby(['hour']).sum().T['02'].sort_values(ascending=False)

index          281278
chicken           671
dessert           415
japanese          254
korean            223
bunsik            177
sashimi           176
cnt               153
western           114
pizza             108
porkcutlets        41
chinese            40
packedmeal         33
Name: 02, dtype: int64

In [113]:
df_i.groupby(['hour']).sum().T['03'].sort_values(ascending=False)

index          257601
chicken           550
dessert           183
sashimi           180
japanese          165
korean            159
bunsik            146
cnt               139
pizza              73
western            62
chinese            60
packedmeal         21
porkcutlets        16
Name: 03, dtype: int64

In [114]:
df_i.groupby(['hour']).sum().T['04'].sort_values(ascending=False)

index          255978
chicken           482
dessert           223
cnt               138
korean            137
sashimi           105
western            82
bunsik             76
japanese           35
pizza              30
chinese            28
packedmeal         27
porkcutlets         7
Name: 04, dtype: int64

In [115]:
df_i.groupby(['hour']).sum().T['05'].sort_values(ascending=False)

index          234411
chicken           512
dessert           235
cnt               128
korean            115
sashimi           110
western            69
packedmeal         34
bunsik             33
japanese           25
chinese            17
pizza               9
porkcutlets         3
Name: 05, dtype: int64

In [116]:
df_i.groupby(['hour']).sum().T['06'].sort_values(ascending=False)

index          262552
chicken           535
dessert           325
sashimi           288
bunsik            214
cnt               140
korean            122
western            88
packedmeal         66
japanese           51
chinese            44
porkcutlets        28
pizza              16
Name: 06, dtype: int64

In [117]:
df_i.groupby(['hour']).sum().T['07'].sort_values(ascending=False)

index          283092
korean            690
chicken           602
bunsik            427
dessert           426
western           260
sashimi           220
cnt               149
japanese          147
packedmeal        134
chinese           104
pizza              76
porkcutlets        27
Name: 07, dtype: int64

In [118]:
df_i.groupby(['hour']).sum().T['08'].sort_values(ascending=False)

index          283309
korean           1642
dessert          1323
bunsik            983
chicken           865
japanese          768
western           437
packedmeal        235
sashimi           217
pizza             174
cnt               149
chinese           115
porkcutlets        51
Name: 08, dtype: int64

In [119]:
df_i.groupby(['hour']).sum().T['09'].sort_values(ascending=False)

index          286430
korean           5882
japanese         3983
dessert          2287
chicken          1299
western           985
bunsik            927
packedmeal        479
pizza             388
sashimi           350
porkcutlets       258
chinese           231
cnt               154
Name: 09, dtype: int64

In [120]:
df_i.groupby(['hour']).sum().T['10'].sort_values(ascending=False)

index          286527
dessert          4827
korean           4002
japanese         2635
western          1789
bunsik           1628
chicken          1600
packedmeal       1169
pizza             692
sashimi           540
chinese           333
porkcutlets       316
cnt               153
Name: 10, dtype: int64

In [121]:
df_i.groupby(['hour']).sum().T['11'].sort_values(ascending=False)

index          287093
dessert          7249
korean           5574
japanese         5189
western          3034
bunsik           2444
chicken          2039
pizza            1553
packedmeal       1308
sashimi           665
chinese           583
porkcutlets       426
cnt               159
Name: 11, dtype: int64

In [122]:
df_i.groupby(['hour']).sum().T['12'].sort_values(ascending=False)

index          287223
dessert          7277
korean           4233
western          2524
bunsik           2512
chicken          2398
japanese         1773
pizza            1116
packedmeal       1085
chinese           998
sashimi           863
porkcutlets       288
cnt               159
Name: 12, dtype: int64

In [123]:
df_i.groupby(['hour']).sum().T['13'].sort_values(ascending=False)

index          287225
dessert          5096
japanese         4803
korean           3587
chicken          2524
western          2310
bunsik           2119
pizza            1294
sashimi           749
packedmeal        680
chinese           617
porkcutlets       343
cnt               157
Name: 13, dtype: int64

In [124]:
df_i.groupby(['hour']).sum().T['14'].sort_values(ascending=False)

index          283734
dessert          3790
korean           3065
bunsik           2525
chicken          2465
western          1889
japanese         1838
pizza            1046
sashimi           817
chinese           720
packedmeal        696
porkcutlets       316
cnt               154
Name: 14, dtype: int64

In [125]:
df_i.groupby(['hour']).sum().T['15'].sort_values(ascending=False)

index          287661
japanese         5319
korean           2875
dessert          2732
chicken          2602
bunsik           2299
western          1925
pizza            1290
sashimi           762
packedmeal        668
chinese           564
porkcutlets       227
cnt               158
Name: 15, dtype: int64

In [126]:
df_i.groupby(['hour']).sum().T['16'].sort_values(ascending=False)

index          284065
korean           3514
japanese         2783
chicken          2760
dessert          2521
bunsik           2236
western          2091
sashimi          1328
pizza            1327
chinese           777
packedmeal        531
porkcutlets       331
cnt               158
Name: 16, dtype: int64

In [127]:
df_i.groupby(['hour']).sum().T['17'].sort_values(ascending=False)

index          284468
japanese         4423
korean           3300
dessert          3156
chicken          3095
western          2530
sashimi          2521
bunsik           2312
pizza            1658
chinese          1446
packedmeal        533
porkcutlets       284
cnt               159
Name: 17, dtype: int64

In [128]:
df_i.groupby(['hour']).sum().T['18'].sort_values(ascending=False)

index          288121
korean           3451
western          2808
japanese         2782
chicken          2752
dessert          2514
bunsik           1701
pizza            1412
chinese          1407
sashimi          1326
packedmeal        436
porkcutlets       258
cnt               159
Name: 18, dtype: int64

In [129]:
df_i.groupby(['hour']).sum().T['19'].sort_values(ascending=False)

index          288515
korean           2265
chicken          2237
japanese         1923
western          1789
dessert          1768
bunsik           1642
sashimi           998
pizza             923
chinese           843
packedmeal        393
porkcutlets       238
cnt               163
Name: 19, dtype: int64

In [130]:
df_i.groupby(['hour']).sum().T['20'].sort_values(ascending=False)

index          288443
dessert          2571
chicken          2112
japanese         1939
korean           1730
bunsik           1528
western          1146
chinese          1090
sashimi          1086
pizza             730
packedmeal        320
porkcutlets       250
cnt               160
Name: 20, dtype: int64

In [131]:
df_i.groupby(['hour']).sum().T['21'].sort_values(ascending=False)

index          288717
dessert          2090
chicken          1966
japanese         1643
korean           1446
bunsik           1285
chinese          1146
western           897
sashimi           772
pizza             605
packedmeal        531
porkcutlets       217
cnt               160
Name: 21, dtype: int64

In [132]:
df_i.groupby(['hour']).sum().T['22'].sort_values(ascending=False)

index          288696
japanese         2067
dessert          1898
chicken          1612
korean           1279
bunsik           1101
sashimi           739
western           700
chinese           613
pizza             509
packedmeal        258
porkcutlets       193
cnt               157
Name: 22, dtype: int64

In [133]:
df_i.groupby(['hour']).sum().T['23'].sort_values(ascending=False)

index          285009
chicken          1342
dessert          1163
korean           1097
bunsik            884
japanese          781
western           599
sashimi           518
chinese           457
pizza             449
packedmeal        302
cnt               155
porkcutlets       139
Name: 23, dtype: int64

### 04. ì›”ë³„ íƒœê·¸ ë°ì´í„°

#### í•´ë‹¹ íƒœê·¸ ë§ì€ ì›”(æœˆ) ìˆœì„œ: ì˜ë¯¸ ì—†ìŒ (ë‹¬ì”© ë¬¶ì–´ ê³„ì ˆë³„ë¡œ ì¸ê¸° ì¹´í…Œê³ ë¦¬ íŒŒì•… ëª©ì  but ë°ì´í„° ë¶€ì¡±)

In [136]:
df_i.groupby(['month']).sum()

,index,korean,western,dessert,porkcutlets,japanese,chicken,bunsik,chinese,pizza,packedmeal,sashimi,cnt
month,,,,,,,,,,,,,
01,125,0,0,0,0,0,0,0,6,0,0,1,5
02,28,0,0,0,0,0,2,0,0,0,0,0,1
03,167,7,0,0,0,0,1,0,2,0,0,1,8
04,487,0,0,0,0,0,2,6,2,0,0,0,14
05,505,0,0,0,0,0,1,18,0,0,1,2,10
06,1541,6,0,1,0,0,9,28,3,1,5,0,23
07,4067,6,2,3,3,3,2,48,4,1,0,11,42
08,355428,13516,7763,12179,1263,2424,11193,7143,3037,4009,1508,3346,736
09,872307,13722,8122,13414,856,12141,9375,6967,3445,3750,1653,3096,723
10,1399939,10272,5681,11813,1195,13953,5164,6631,1775,3163,2449,3530,729
11,1813016,3782,2007,4399,255,9502,2594,2111,742,1364,1754,1380,690
12,2281336,10228,5363,13603,972,8182,10827,7254,3634,3741,2904,4726,688